# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Env
.env

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/*.log

# Project outputs
output/
data/

notebooks/
